In [1]:
import numpy as np
import pandas as pd

from obj.Compos_DF import ComposDF
from obj.Compo_HTML import *
from obj.List import *
from obj.Block import *
from obj.Group import *
import lib.draw as draw
from obj.Page import Page

In [2]:
name = 'data/9'
compos = ComposDF(name + '.json', name + '.png')
img = compos.img.copy()
img_shape = compos.img_shape
img_re = cv2.resize(img, img_shape)

In [3]:
# ***Step 1*** repetitive list recognition
compos.repetitive_group_recognition()    # group_nontext, group_text
# compos.visualize_block('group')

In [7]:
groups, intersections = split_groups_with_intersection(compos.compos_dataframe)

In [23]:
# gather interleaved groups
for gid in intersections:
    g1 = groups[gid]
    alignment = g1.compos.iloc[0]['alignment_in_group']
    inter_compos = g1.compos
    for inter_gid in intersections[gid]:
        print(gid, inter_gid)
        inter_compos = inter_compos.append(groups[inter_gid].compos)
    if alignment == 'v':
        inter_compos.sort_values('row_min', inplace=True)
    else:
        inter_compos.sort_values('column_min', inplace=True)
    inter_compos.reset_index(inplace=True)
    break

t-1 t-6

In [21]:
inter_compos

,index,id,column_min,column_max,row_min,row_max,center,center_column,center_row,height,width,area,class,group_nontext,alignment_in_group,group_text,group
0,25,25,461,479,223,230,"(470.0, 226.5)",470.0,226.5,7,18,126,Text,-1.0,h,1.0,t-1
1,19,19,461,509,207,214,"(485.0, 210.5)",485.0,210.5,7,48,336,Text,-1.0,v,6.0,t-6
2,41,41,461,510,282,289,"(485.5, 285.5)",485.5,285.5,7,49,343,Text,-1.0,v,6.0,t-6
3,54,54,464,595,433,459,"(529.5, 446.0)",529.5,446.0,26,131,3406,Text,-1.0,v,6.0,t-6
4,26,26,504,517,223,229,"(510.5, 226.0)",510.5,226.0,6,13,78,Text,-1.0,h,1.0,t-1
5,28,28,586,597,223,229,"(591.5, 226.0)",591.5,226.0,6,11,66,Text,-1.0,h,1.0,t-1

In [28]:
compos_id = list(inter_compos[inter_compos['group'] == gid].index)
compos_id

[0, 4, 5]

In [31]:
inter_compos.iloc[0]

index                             25
id                                25
column_min                       461
column_max                       479
row_min                          223
row_max                          230
center                (470.0, 226.5)
center_column                    470
center_row                     226.5
height                             7
width                             18
area                             126
class                           Text
group_nontext                     -1
alignment_in_group                 h
group_text                         1
group                            t-1
Name: 0, dtype: object

In [ ]:
for i in range(len(compos_id)-1):
    if alignment == 'v':
        c_a = inter_compos.iloc[compos_id[i]]
        c_b = inter_compos.iloc[compos_id[i+1]]
        col_min = min(c_a['column_min'], c_b['column_min'])
        col_max = max(c_a['column_max'], c_b['column_max'])
        row_min = min(c_a['row_min'], c_b['row_min'])
        row_max = max(c_a['row_max'], c_b['row_max'])
        sandwich =

In [ ]:
start = 0
k = 0
lists = []
while start < len(all_compos):
    end = compos_id[k] if k < len(compos_id) else len(all_compos)
    lists.append(list(all_compos[start: end].group))
    start = end
    k += 1

In [22]:
# if H alignment, leave those whose row_min > bottom or row_max < top
if g1.alignment == 'h':
    inter_compos = inter_compos[~((inter_compos['row_min'] > g1.bottom) | (inter_compos['row_max'] < g1.top))]
# if V alignment, leave those whose col_min > right or col_max < left
elif g1.alignment == 'v':
    inter_compos = inter_compos[~((inter_compos['col_min'] > g1.right) | (inter_compos['col_max'] < g1.left))]
inter_compos

,index,id,column_min,column_max,row_min,row_max,center,center_column,center_row,height,width,area,class,group_nontext,alignment_in_group,group_text,group
0,25,25,461,479,223,230,"(470.0, 226.5)",470.0,226.5,7,18,126,Text,-1.0,h,1.0,t-1
4,26,26,504,517,223,229,"(510.5, 226.0)",510.5,226.0,6,13,78,Text,-1.0,h,1.0,t-1
5,28,28,586,597,223,229,"(591.5, 226.0)",591.5,226.0,6,11,66,Text,-1.0,h,1.0,t-1

In [9]:
# ***Step 2*** mark compos in same group as a single list, mark compos in same group_pair as a multiple list
lists, non_listed_compos = gather_lists_by_pair_and_group(compos.compos_dataframe[1:])
generate_lists_html_css(lists)
# compos.visualize_block('group')

In [10]:
# ***Step 3*** slice compos as blocks
compos_html = [li.list_obj for li in lists] + non_listed_compos
blocks, non_blocked_compos = slice_blocks(compos_html, 'v')
visualize_blocks(blocks, img, img_shape)
# blocks[2].visualize_sub_blocks_and_compos(img_re, recursive=True)

In [6]:
# ***Step 4*** assembly html and css as web page
page = Page()
for block in blocks:
    page.add_compo(block.html_script, block.css_script)
page.export()